{{ "section-home-page.css" | asset_url | stylesheet_tag }}

<div class="header-container">

</div>
<div class="hero-collections">
    <img class="right-arrow" style="transform: scaleX(-1);" src="{{ 'arrow.svg' | asset_url }}" alt="he"/>

    <div>
    <img class="left-arrow" src="{{ 'arrow.svg' | asset_url }}" alt="he"/>
    {% for block in section.blocks %}
    <h3 class="left-arrow green">{{ block.settings.collection.title | downcase}}</h3>
    {% endfor %}
    </div>
    <div class="hero-collections__card-ctn">
        {% for block in section.blocks %}
        <a class="hero-collections__card" href="{{ block.settings.collection.url}}">
            <div class="hero-collections__card--bg" style="background-image: url({{ block.settings.image_bg | img_url: 'Medium' }})"></div>
            <div class="hero-collections__card--hover" style="background-image: url({{ block.settings.image_hover | img_url: 'Medium' }})"></div>
            <h3 class="hero-collections__card-title">{{ block.settings.collection.title | downcase}}</h3>
        </a>
        {% endfor %}
    </div>


</div>


{% schema %}
{
    "name": "Hero",
    "blocks":[
    {
        "type":"collection",
        "limit": 3,
        "name": "Collection",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "image_bg",
                "label": "Image background"
            },
            {
                "type": "image_picker",
                "id": "image_hover",
                "label": "Image Hover"
            }
        ]

    }
    ],
    "presets": [
    {
        "name": "Hero"
    }
    ]
}
{% endschema %}
